* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eef8ff;
}

/*styling the header*/

h1 {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  text-decoration: none;
}

h1 svg,
h1 svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

h1 svg rect {
  stroke: blue;
  stroke-width: 4;
  transition: 1s;
  stroke-dasharray: 180, 60;
}

h1:hover svg rect {
  stroke-dasharray: 60, 180;
  stroke-dashoffset: 330;
}

/*styling the navbar*/

ul {
  list-style-type: none;
  margin: o;
  padding: o;
  overflow: hidden;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: blue;
  text-decoration: underline;
}

li,
.dropdown {
  display: inline-block;
}

/*styling the dropdown-menu*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*styling the image page-content*/

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Card0", serif;
}

.page-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 50px;
  margin-left: 50px;
  clear: left;
  padding: 1rem;
  height: 500px;
  width: 90%;
  font-family: var(--font-sans);
  gap: 100px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #d1d8ec;
  -webkit-box-shadow: 12px 12px 25px #a1a6b6, -12px -12px 25px #ffffff;
  box-shadow: 12px 12px 25px #a1a6b6, -12px -12px 25px #ffffff;
}

.card::before {
  content: "";
  position: absolute;
  top: o;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1)::before {
  background-image: url(./img/Screenshot\ 2023-12-28\ 154909.png);
}

.card:nth-child(2)::before {
  background-image: url(./img/Screenshot\ 2023-12-13\ 113353.png);
}

.card:nth-child(3)::before {
  background-image: url(./img/DSC_1000.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.25;
  color: black;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  color: red;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: greenyellow;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

.card::after {
  transform: translateY(0);
}

.content {
  transform: translateY(calc(100% --4.5rem));
}

.content > *:not(.title) {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover {
  align-items: center;
}

.card:hover::before {
  transform: translateY(-4%);
}

.card:hover::after {
  transform: translateY(-50%);
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .content > *:not(.title) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--d) / 8);
}

.header {
  position: relative;
  text-align: center;
}

/*styling for the product*/
.slider-container {
  position: relative;
  overflow: hidden;
  left: 50px;
  max-width: 400px;
}

.slider {
  height: 500px;
  width: 300px;
  transition: transform 0.5s ease;
}

.slide {
  width: 300px;
  height: 500px;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 25%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  display: none;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.slider-container:hover .arrow {
  display: block;
}

.shop-button {
  position: absolute;
  top: 48%;
  left: 90px;
  cursor: pointer;
  margin-top: 10px;
  padding: 15px;
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  display: none;
}

.shop-button:hover {
  background-color: red;
}

.shop-button:focus {
  outline: 1px dashed rgb(255, 0, 0);
  outline-offset: 3px;
}

.slider-container:hover .shop-button {
  display: block;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}
.logo {
  width: 80px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  cursor: pointer;
  font-size: 1.1em;
}

ol li {
  list-style: none;
  margin-bottom: 12px;
  display: block;
}

ol li a {
  text-decoration: none;
  color: #fff;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-solid {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 3s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}
